# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
coverage.xml
*.cover
*.py,cover
.pytest_cache/
nosetests.xml
htmlcov/

# Type checkers
.mypy_cache/
.pyre/
.pytype/
dmypy.json
.dmypy.json

# Environments
.venv/
venv/
env/
ENV/
*.venv
*.env

# Jupyter
.ipynb_checkpoints/
.jupyter/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Editors/IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Temp files
*.log
*.tmp
*.swp
*.swo


